* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-white: #fff;
  --bg-black: #000;
  --bg-yg: #95c11e;
  --bg-g: #039c3d;
}
/* Scrollbar Track */
::-webkit-scrollbar {
  width: 12px;
  background: #000;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-yg);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Scrollbar Track Background */
::-webkit-scrollbar-track {
  background: transparent;
}
h1,
h2,
h3,
h4,
p,
a,
span {
  z-index: 40;
}
body {
  width: 100vw;
  position: relative;
  font-family: Montserrat;
  overflow-x: hidden;
}

.circle {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 0;
  transition: top 0.6s ease-in-out, left 0.6s ease-in-out;
  background-color: var(--bg-yg);
}

header {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 134px;
  justify-content: space-between;
  align-items: center;
  padding: 1% 8%;
  backdrop-filter: blur(5px);
  background-color: var(--bg-black);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.logo {
  display: flex;
  width: 180px;
  justify-content: flex-start;
  z-index: 2;
}

.logo:hover {
  transform: scale(0.9);
  transition: transform 0.6s;
}

.logoimg {
  width: 100px;
  filter: drop-shadow(2px 2px 2px black);
}

.navigation {
  height: 100%;
  width: 90%;
  padding: 8px 0;
  z-index: 2;
}

.navlist {
  display: flex;
  max-width: 680px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.navitem {
  list-style: none;
}

.navlink {
  text-decoration: none;
  color: var(--text-white);
}

.booking {
  display: flex;
  width: 30%;
  min-width: 240px;
  justify-content: space-evenly;
  gap: 10px;
}

.layerbtn {
  width: 180px;
  height: 50px;
  position: relative;
  z-index: 2;
}

.btntitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  color: var(--text-white);
  border: 3px solid var(--bg-g);
  border-radius: 50px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 2;
  background-color: var(--bg-black);
}

.btntitle:hover .layer span {
  animation: setheight 1.4s ease-out forwards;
}

.btntitle:hover .btntxt {
  transform: translateY(10px);
  animation: bookingtitle 0.6s linear forwards;
}

.btntitle:hover .layertitle {
  display: block;
  color: black;
  animation: layertitle 0.6s linear forwards;
}

.layer {
  position: absolute;
  top: 2px;
  left: 0px;
  z-index: 1;
  width: 180px;
  height: 100%;
}

.layer span {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 180px;
  height: 150px;
  border-radius: 50%;
  transform: translateX(0%);
}

.layer span:nth-child(1) {
  background: yellowgreen;
}

.layer span:nth-child(2) {
  transform: translateY(10px);
  background: #b3e824;
}

.layer span:nth-child(3) {
  transform: translateY(20px);
  background-color: var(--bg-g);
}

.layer span:nth-child(4) {
  transform: translateY(60px);
  background: var(--bg-yg);
}

.layertitle {
  display: none;
  position: absolute;
  top: 50%;
  color: #222;
  z-index: 2;
  transform: translateY(-50%);
}

/* Animations */
@keyframes setheight {
  0% {
    top: 50px;
    border-radius: 50%;
  }
  100% {
    top: 10px;
    border-radius: 10%;
    transform: translateY(-40px);
  }
}

@keyframes bookingtitle {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-15px);
    opacity: 0;
  }
}

@keyframes layertitle {
  0% {
    transform: translateY(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-10px);
    opacity: 1;
  }
}

.videobox {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -1;
}

.video {
  object-position: center;
  object-fit: cover;
  z-index: -1;
}

.page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 60px 10%;
  color: var(--text-white);
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;

  h1 {
    visibility: hidden;
    position: relative;
    height: 170px;
    width: 100%;
    height: fit-content;
    text-transform: uppercase;
  }

  h2 {
    text-transform: capitalize;
    margin: 10px 0 20px 0;
  }

  p {
    max-width: 600px;
  }
}

.page1 h1::after,
.page1 h1::before {
  visibility: visible;
  content: attr(data-content);
  width: 100%;
  position: absolute;
  color: var(--bg-g);
  z-index: 2;
}

.page1 h1::after {
  top: 0px;
  left: 0px;
  color: var(--text-white);
}

.page1 h1::before {
  top: -6px;
  left: -6px;
  color: black;
  -webkit-text-stroke: 2px var(--bg-yg);
}

.scroller {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: default;
  background-color: transparent;
  padding: 60px 0;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.scrollerin {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  animation: scroller 20s linear infinite;
  z-index: 3;
  text-transform: uppercase;
}

.scrollerin span {
  position: relative;
  display: inline;
  color: black;
  text-shadow: 2px 2px white, -2px 2px white, 2px -2px white, -2px -2px white;
  width: fit-content;
  margin-right: 40px;
}

.scrollerin span:hover {
  color: var(--bg-yg);
  z-index: 40;
  text-shadow: 2px 2px var(--bg-yg), -2px 2px var(--bg-yg),
    2px -2px var(--bg-yg), -2px -2px var(--bg-yg);
  z-index: 4;
}

@keyframes scroller {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 30px;
  padding: 60px 10%;
}

.aboutbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  color: var(--text-white);
}

.aboutpara,
.aboutnote {
  margin-top: 30px;
}

.aboutimage img {
  width: 100%;
  height: 250px;
  border-radius: 15px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 60px 8%;
  height: fit-content;
  gap: 40px;
}

.card {
  width: 33%;
  height: 550px;
  border-radius: 15px;
  background-size: cover;
  z-index: 3;
}

.cardin {
  flex-direction: column;
  text-align: center;
  position: relative;
  display: none;
  z-index: 3;
  overflow: hidden;
  justify-content: flex-start;
  padding: 150px 30px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: var(--bg-yg);
}
.cardin h1 {
  text-transform: uppercase;
}

.cardin p {
  margin-top: 20px;
}
.card:hover .cardin {
  display: flex;
}
.rightarrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 50px;
  width: 150px;
  height: 150px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
  transform: translate(25%, -25%);
}

.rightarrow:hover {
  background-color: #fff;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 330px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  text-transform: uppercase;
  background: linear-gradient(15deg, var(--bg-yg) 40%, var(--bg-g) 100%);
  margin: 60px 0;
}

.banner h1 {
  font-weight: 800;
  width: 60%;
  text-align: center;
}

.banner img:first-child {
  width: 20%;
  height: 100%;
  transform: rotate(180deg);
}

.banner img:last-child {
  width: 20%;
  height: 100%;
  transform: rotate(0deg);
}

.foodpage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  color: var(--text-white);
  padding: 60px 10%;
  z-index: 3;
  background-color: var(--bg-black);
}

.foodbanner {
  position: relative;
  width: 55%;
  border-radius: 15px;
  z-index: 3;
}

.foodbox {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 5%;
}

.foodbox h1 {
  font-weight: 800;
  text-transform: uppercase;
}

.foodbox p {
  width: 90%;
  margin: 20px 0 0 0;
}

.foodbtn {
  margin-top: 20px;
  text-transform: uppercase;
}

.imgbox {
  z-index: 3;
}

.foodbanner img {
  display: none;
  width: 100%;
  bottom: -25%;
  height: 500px;
  border-radius: 15px;
  z-index: 3;
}

.foodpageimg {
  display: block !important;
  position: absolute;
  bottom: -250px;
  left: 0px;
  width: 33% !important;
  z-index: -1 !important;
}

.foodbanner .imgbox .active {
  display: block;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 15px;
  z-index: 3;
}

.dotbox {
  position: relative;
  margin: 10px;
  z-index: 3;
}

.dots .dotin {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
}

.dots .dotbox .outline {
  display: none;
  position: absolute;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 3px solid var(--bg-yg);
  border-radius: 50%;
}

.dots .active {
  .dotin {
    background-color: var(--bg-yg);
  }
  .outline {
    display: block;
  }
}

.quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 400px;
  color: var(--text-white);
  margin: 60px 0;
}

.quotes img {
  position: absolute;
  width: 100px;
}

.quotes .quote {
  display: none;
  width: 60vw;
  padding: 5%;
  text-align: center;
}

.quotes .active {
  display: block;
}

.quotes img:first-child {
  top: 20%;
  left: 20vw;
  transform: translate(-50%, -50%);
}

.quotes img:last-child {
  bottom: 20%;
  right: 20vw;
  transform: translate(50%, 50%);
}

.cards2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  background-color: var(--bg-black);
  padding: 60px 0 120px 0;
}

.cardbox {
  display: flex;
  justify-content: space-evenly;
}

.card2in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  text-transform: uppercase;
  border-radius: 15px;
  color: #000;
  z-index: 3;
  background-size: cover;
  background-position: center;
  background-image: none;
  transition: background-color 0.6s linear;
  text-align: center;
  background-color: var(--bg-yg);
}

.card2in:hover {
  color: var(--text-white);
  background-image: var(--img);
}

.cardtitle {
  margin: 0 5%;
  color: var(--text-white);
  letter-spacing: 5px;
  font-weight: 900;
  /* transform: translateY(50px); */
  text-align: center;
}

@keyframes slideup {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

footer {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 360px;
  height: fit-content;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(15deg, var(--bg-yg) 40%, var(--bg-g) 100%);
}

.footerbox .footerlogo {
  width: 100px;
  height: 100px;
}

.footerbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.logobox {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 12%;
  z-index: 3;
}

.linkbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  font-weight: 800;
}

.footerbox a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.detailbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  font-weight: 600;
}

.detailbox a {
  font-weight: 750;
  z-index: 40;
}

.footerbox a:hover {
  color: var(--text-white);
}

.socialicons img {
  width: 50px;
  height: 50px;
  z-index: 99;
}

.copyr {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 3px;
  padding: 10px 10%;
  z-index: 3;
  margin-top: auto;
}
.copyr span:last-child {
  margin-left: auto;
}

.footersideimg {
  position: absolute;
  top: 60px;
  left: -50px;
  width: 25%;
  transform: rotate(180deg);
  z-index: 1;
}

header {
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  font-weight: 600;
  height: fit-content;
}
.page1 h1 {
  font-size: clamp(3rem, 10vw, 7rem);
  font-weight: 800;
}
.scrollerin {
  font-size: clamp(4rem, 10vw, 8rem);
  font-weight: 800;
}
.abouttitle {
  font-size: clamp(1.85rem, 3.5vw, 4rem);
}
.quotes h3 {
  font-size: clamp(1rem, 2vw, 1.5rem);
}
.banner h1 {
  font-size: clamp(1rem, 2vw, 2rem);
}
.foodbox h1 {
  font-size: clamp(1rem, 3vw, 3.5rem);
}
.cardin h1 {
  font-size: clamp(1.2rem, 3vw, 3.5rem);
}
.card2in h2 {
  font-size: clamp(1rem, 2vw, 1.8rem);
}
.cardtitle h1 {
  font-size: clamp(1.5rem, 4vw, 4.5rem);
}
.detailbox span {
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
}
.linkbox a {
  /* font-size: clamp(1rem, 2vw, 1.6rem); */
  font-size: 1.6rem;
}
.copyr {
  font-size: 14px;
}
p {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

/* Extra small devices (phones) */
@media (max-width: 479px) {
}

/* Small devices (phones landscape) */
@media (min-width: 480px) and (max-width: 767px) {
}

@media (max-width: 767px) {
  .scroller{
    padding: 30px 0;
  }
  .logoimg {
    width: 60px;
  }
  .video {
    width: 500%;
  }
  header {
    flex-direction: column;
    padding: 3%;
  }
  .logo {
    margin-right: auto;
  }
  .booking {
    margin-left: auto;
  }
  .page1 {
    padding: 20px 5%;
  }
  .aboutus {
    flex-direction: column;
    padding: 30px 5%;
  }
  .aboutbox {
    width: 100%;
  }
  .aboutpara,
  .aboutnote {
    text-align: start;
    margin-top: 15px;
  }
  .cards {
    flex-direction: column;
    padding: 30px 5%;
  }
  .card {
    width: 100%;
    height: 300px;
  }
  .cardin {
    padding: 100px 10px;
  }
  .cardin p {
    margin-top: 10px;
  }
  .rightarrow {
    width: 100px;
    height: 100px;
    font-size: 40px;
  }
  .cardbox {
    flex-direction: column;
    gap: 10px;
    width: 90vw;
  }
  .card2in {
    width: 100%;
    height: 200px;
  }
  .banner{
    margin: 30px 0;
  }
  .foodbanner img {
    height: 350px;
  }
  .foodpage {
    flex-direction: column;
    padding: 30px 5%;
  }
  .foodbanner {
    width: 100%;
  }
  .foodbox {
    width: 100%;
    padding: 0;
    p {
      margin: 10px 0;
    }
  }
  .quotes {
    margin: 30px 0;
    height: 280px;
  }
  .quotes .quote {
    width: 90%;
  }
  .quotes img {
    width: 50px;
  }
  .quotes img:first-child {
    top: 10%;
    left: 10vw;
  }

  .quotes img:last-child {
    bottom: 10%;
    right: 10vw;
  }
.cards2{
  padding: 30px 0;
}
  footer {
    padding: 5%;
  }
  .footerbox {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .linkbox {
    width: 100%;
  }
  .detailbox {
    width: 100%;
    margin: 10px 0;
  }
  .logobox {
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
  }

  .socialicons {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  .copyr {
    padding: 0;
    flex-wrap: wrap;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  .cardbox {
    flex-direction: row;
    width: 90vw;
  }
  .card2in {
    width: 30%;
  }

  .foodbanner img {
    height: 400px;
  }
  .gap {
    height: 80px;
  }

  header {
    padding: 3%;
  }
  .logoimg {
    width: 80px;
  }
  .navigation a {
    display: block;
    width: 70px;
    text-align: center;
  }
  .logo {
    margin-right: auto;
  }
  .booking {
    margin-left: auto;
  }
  .page1 {
    padding: 40px 5%;
  }
  .aboutus {
    padding: 40px 5%;
    gap: 10px;
  }
  .aboutus img {
    width: 100%;
  }
  .aboutbox {
    width: 120%;
  }
  .aboutpara,
  .aboutnote {
    margin-top: 15px;
  }
  .cards {
    padding: 40px 5%;
    gap: 10px;
  }
  .card {
    width: 100%;
    height: 400px;
  }
  .cardin {
    padding: 100px 10px;
  }
  .cardin p {
    margin-top: 10px;
  }
  .rightarrow {
    width: 100px;
    height: 100px;
    font-size: 40px;
  }
  .cardbox {
    flex-direction: column;
    gap: 10px;
    width: 90vw;
  }
  .card2in {
    width: 100%;
    height: 200px;
  }
  .foodbanner img {
    height: 400px;
  }
  .foodpage {
    flex-direction: column;
    padding: 40px 5%;
  }
  .foodbanner {
    width: 100%;
  }
  .foodbox {
    width: 100%;
    padding: 0;
    p {
      margin: 10px 0;
    }
  }
  .quotes {
    height: 280px;
  }
  .quotes .quote {
    width: 90%;
  }
  .quotes img {
    width: 50px;
  }
  .quotes img:first-child {
    top: 10%;
    left: 10vw;
  }

  .quotes img:last-child {
    bottom: 10%;
    right: 10vw;
  }

  footer {
    padding: 5%;
  }
  .footerbox {
    align-items: start;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
  }
  .linkbox {
    width: 50%;
  }
  .detailbox {
    width: 50%;
    margin: 10px 0;
  }
  .logobox {
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
  }

  .socialicons {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  .copyr {
    padding: 0;
    flex-wrap: wrap;
  }
}

/* Large devices (small laptops) */
@media (min-width: 1024px) and (max-width: 1279px) {
  .cardbox {
    flex-direction: row;
    width: 85vw;
  }
  .card2in {
    width: 30%;
  }
}

/* Extra large devices (desktops) */
@media (min-width: 1280px) and (max-width: 1535px) {
  .cardbox {
    flex-direction: row;
    width: 90vw;
  }
  .card2in {
    width: 30%;
  }
}

/* 2XL screens (large desktops, TVs) */
@media (min-width: 1536px) {
  .cardbox {
    flex-direction: row;
    width: 80vw;
  }
  .card2in {
    width: 30%;
  }
}
